[submodule "config"]
	path = config
	url = https://github.com/joselusl/ars_robot_intelligence_config_student
	branch = main
[submodule "launchers"]
	path = launchers
	url = https://github.com/joselusl/ars_robot_intelligence_launchers
	branch = main
[submodule "ars_obstacle_avoidance_react"]
	path = packages/ars_obstacle_avoidance_react
	url = https://github.com/joselusl/ars_obstacle_avoidance_reactive_student
	branch = main
[submodule "ars_msf_state_estimator"]
	path = packages/ars_msf_state_estimator
	url = https://github.com/joselusl/ars_msf_state_estimator_student
	branch = main
[submodule "ars_msf_slam"]
	path = packages/ars_msf_slam
	url = https://github.com/joselusl/ars_msf_slam_student
	branch = main
[submodule "ars_motion_controller_pid"]
	path = packages/ars_motion_controller_pid
	url = https://github.com/joselusl/ars_motion_controller_pid_student
	branch = main
[submodule "ars_path_follower"]
	path = packages/ars_path_follower
	url = https://github.com/joselusl/ars_path_follower_student
	branch = main
[submodule "ars_path_planner"]
	path = packages/ars_path_planner
	url = https://github.com/joselusl/ars_path_planner_student
	branch = main
